.leaflet-container {
  margin: 50px 50px 50px 50px; 
  height: 90vh;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: black;
}
.popup-style {
  font-size: 17px;
  color: black
  
}